h1 {
    color: blueviolet;
    margin-left: 15px;
    /* text-align: center; */
}
h2 {
    margin-top: 20px;
    font-size: 1.25em;
    color: #400080;
}
h4 {
    font-size: 1em;
}
td {
    padding: 5px;
}
table {
    margin: 10px;
}
th {
    text-align: center;
}
nav {
    /* text-align: center; */
    margin-left: 15px;
}
button, .button, .button2 {
    width: 90px;
    height: 30px;
    border:#400080 1px solid;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3px;
    background-color: #bda5d6f6;
    color: #400080;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}
nav a {
    background-color: #bda5d6f6;
    padding:0;
    margin:0;
    color: #400080;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    background-color: #400080;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    nav a {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1em;
    }
     nav a {
      display: inline-block;
      margin-right: -4px;
    }
  }
.list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button2 {
    width: 120px;
}
.deleteall{
    margin-top: 20px;
}