
@{
  Layout = "_Layout";
}
<h2>Delete Item</h2>

<p>Are you sure you want to delete @Model["item"].GetDescription()?</p>

<form action="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/delete" method="post">
    <button type="submit">Delete</button>
</form>
