
@{
  Layout = "_Layout";
}
@using ToDoList.Models;

    <h2>Add a new item</h2>

    <form action="/items" method="post">
      <label for="itemDescription">Item Description</label>
      <input id="itemDescription" name="itemDescription" type="text">
      <label for='dueDate'>Due date</label>
      <input id='dueDate' name='dueDate' type='date'>
      <button type="submit">Add item</button>
    </form>
