
@{
  Layout = "_Layout";
}
@using ToDoList.Models;

<h2>@Model["category"].GetName()</h2>
<p>@Model["item"].GetDescription()

<a class = "button" href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/edit'>Edit Item</a><br />
</p>
<a class = "button" href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/delete'>Delete Item</a>

<a class = "button" href='/categories/@Model["category"].GetId()/items/new'>Add item</a><br />
