
@{
  Layout = "_Layout";
}
@using ToDoList.Models;

<h1>To Do List</h1>


@if (Model.Count == 0)
{
  <p>No categories have been added yet</p>
}
@if(Model.Count != 0)
{
  <table>
    <tr>
      <th>Category</th>
    </tr>
  @foreach (Category category in Model)
  {
    <tr>
      <td><a href='/categories/@category.GetId()'>@category.GetName()</a></td>
    </tr>
  }
  </table>
}
<br/>
<table>
    <tr>
        <td>
            <a href='/'>Back home</a>
        </td>
        <td>
            <a href="/categories/new">Add a new category.</a>
        </td>
        <td>
          <form action="/categories/delete" method="post">
            <button type="submit" name="button">Delete all categories</button>
          </form>
        </td>
    </tr>
</table>

