
@{
  Layout = "_Layout";
}
<h2>Add a category</h2>

<form action="/categories" method="post">
  <label for="categoryName">Category name</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>
