
@{
  Layout = "_Layout";
}
<h1>Add a category</h1>

<form action="/categories" method="post">
  <label for="categoryName">Category name</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>

<table>
    <tr>
        <td>
            <a href='/categories'>View categories</a>
        </td>
        <td>
            <a href='/categories/new'>Add a new category</a>
        </td>
    </tr>
</table>