
@{
  Layout = "_Layout";
}
@using ToDoList.Models;

<h2>@Model["category"].GetName()</h2>

@if (Model["items"].Count == 0)
{
    <p>You have no items in this category.</p>
}
@if(Model["items"].Count != 0)
{
    <ol>
    @foreach (var item in @Model["items"])
    {
        <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription() @item.GetDueDate().ToString("MM/dd/yyyy")</a></li>
    }
    </ol>
}

<table>
    <tr>
        <td><a class="button2" href='/categories/@Model["category"].GetId()/items/new'>Add new item</a></td>
        <td><a class="button2" href='/categories/@Model["category"].GetId()/itemssort'>Sort by duedate</a></td>
    </tr>

</table>